<div class="page-wrapper">

  <div class="page-header">
    <h1>Edit Profile</h1>
  </div>
  <div class="container">
  <form ng-submit="profileCtrl.updateProfile()">
    <p ng-hide="profileCtrl.profile.displayName">
      You'll need a display name before you can start chatting.
    </p>

    <div class="input-group" style="width: 100%; margin-bottom: 30px;"> <!-- Да мне было лень верстать -->
      <input required type="text" class="form-control" placeholder="Display Name" ng-model="profileCtrl.profile.displayName">
    </div>
      <input type="submit" class="btn btn-success" value="Set Display Name" class="form-control">
  </form>
 	<div style="text-align:center;" ng-controller="CreateCtrl as createCtrl">
      <div class="page-header">
        <h3>My stat</h3>
      </div>
      <table class="table" style="text-align: left;"> 
          <thead> 
            <tr> 
              <th>#</th> 
              <th>KG</th> 
              <th>Reply</th> 
            </tr> 
          </thead> 
          <tbody> 
            <tr ng-repeat="message in messages">Ganteli
              <td class="number">{{$index + 1}}</td> 
              <td>{{message.kg}}</td>  
              <td>{{message.raz}} <a class="delete" href="" ng-click="messages.$remove(message)">x</a></td> 
            </tr>
          </tbody> 
      </table>
 	</div>
</div>
</div>
